.input {
    display: flex;
    width: 90%;
    position: relative;
    align-items: center;

}

.input_box {
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px black;
}

.input_box:focus {
    box-shadow: 0 0 10px 1000px rgba(0,0,0,0);
    outline: none;
}

.input_submit {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 50px;
    right: 0px;
    border: none;
    font-size: 15px;
    background-color: #2f74c0;
    color: white;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;

}

.input_submit:hover {
    background-color: #388ae2;
}

.toDoListElements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: yellow;
    width: 400px;
    /* height: 30px; */
    padding: 15px;
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

.toDoListElements p{
     margin: 0px;
     font-size: 1.5rem
}

.toDoListElements_submit {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.toDoListElements_button {
    border:none;
    background: none;
    margin-right: 10px;
    padding: 0px;
    cursor: pointer;
    transform: transform 0.8s ease;
}

.toDoListElements_button:hover {
    transform: scale(1.1);
}
.toDoListElements_button:active {
    transform: scale(1.05);
}